<div class="layer-headline">
    <p class="headline"><span>Layer</span></p>
    <div class="close-button">
        <button
            mat-icon-button
            (click)="close()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>

<div class="item-list">
    @for (source of geoService.tileSources; track source.name) {
        <button
            mat-stroked-button
            [disabled]="source === geoService.selectedTileSource"
            (click)="geoService.setTileSource(source)">
            {{ source.name }}
        </button>
    }
</div>

<p class="headline">
    <span>Display GeoJSON</span><br />
    <small>To incorporate data, simply drag a GeoJSON file and drop it onto the map.</small>
</p>

<div class="item-list">
    @for (vectorSource of geoService.vectorSources; track vectorSource.name) {
        <button
            mat-stroked-button
            (click)="geoService.setVectorSource(vectorSource)">
            {{ vectorSource.name }}
        </button>
    }
</div>
